.message-box {
    padding: 4px 4px 4px 10px;
    background: #eae2f6;
    border-radius: 20px;
}

.message-row-start {
    margin: 10px;
    justify-content: flex-start !important;
}

.message-row-end {
    margin: 10px;
    justify-content: flex-end !important;
    text-align: end;
}

.card-v {
    height: 100vh
}

.video-card {
    height: 40vh;
}
